<div class="grid-container">
  <h1 class="mat-h1">Comportamiento del invocador</h1>
  <mat-grid-list cols="1">
    <mat-grid-tile>
      <div class="dashboard-card">
          <mat-grid-list cols="3" rowHeight="150px">
            <mat-grid-tile [colspan]="1" [rowspan]="2" class="box">
              <div *ngIf="invocador.honor != null" class="center">
                <div>
                  <img src="{{ invocador.honor.icon_src }}" alt="" height="200px" width="200px">
                </div>
                <div>
                  <h2>{{ invocador.honor.name }}</h2>
                </div>
              </div>
              <div *ngIf="invocador.honor == null" class="center">
                <div>
                  <img src="assets/img/honor/locked.png" alt="No icono" height="70px" width="70px">
                </div>
                <div clas="mat-display-1">
                  Sin honor
                </div>
                <div class="mat-small">
                  ¿Esta mal? ayudanos a actualizar a tus compañeros
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="box">
              <mat-card-title>{{ invocador.name }}</mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="box">
              <mat-card-title>
                <div *ngIf="invocador.clasification != null" class="center">
                  <div>
                    <img src="{{ invocador.clasification.icon_src }}" alt="" height="100px" width="100px">
                  </div>
                  <div clas="mat-display-1">
                    {{ invocador.clasification.name }} {{ invocador.clasification.level }}
                  </div>
                </div>
                <div *ngIf="invocador.clasification == null" class="center">
                  <div>
                    <img src="assets/img/ranks/default.png" alt="No icono" height="70px" width="70px">
                  </div>
                  <div clas="mat-display-1">
                    Unranked
                  </div>
                  <div class="mat-small">
                    ¿Esta mal? ayudanos a actualizar a tus compañeros
                  </div>
                </div>
              </mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1" class="box">
              <section class="mat-body center-align">
                <mat-card-title>Descripcion de por que el honor</mat-card-title>
                Descripcion de los motivos de honor y consejos Descripcion de los motivos de honor y consejos
                <br>
                Mute all o icon mute o ayuda en vision
              </section>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="box">
              <mat-card-title *ngIf="invocador.percentage_victori == null"><section class="mat-body center-align">No existen datos para calcular procentaje de victoria</section></mat-card-title>
              <mat-card-title *ngIf="invocador.percentage_victori != null"><section>{{ invocador.percentage_victori }} %</section></mat-card-title>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" class="box">
              <mat-card-title><section class="mat-body center-align">Posiciones preferidas</section></mat-card-title>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-flat-button color="primary">Calificar</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <button mat-flat-button color="warn">Agregar DodgeAlert</button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>