<div class="grid-container">
  <h1 class="mat-h1">Calificar invocador</h1>
  <mat-grid-list cols="1" rowHeight="700px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-content>
          <mat-grid-list cols="1" rowHeight="150px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <section class="mat-body center-align">
                <mat-card-title>Calificacion Sugerida</mat-card-title>
                <h1 class="mat-headline">{{ratingTitle}}</h1>
              </section>
            </mat-grid-tile>
          </mat-grid-list>
          <mat-grid-list cols="2" rowHeight="150px">
            <form [formGroup]="ratingForm" novalidate (ngSubmit)="onSubmit()" class="rating-form">
              <mat-grid-tile [colspan]="2">
                <div class="row">
                  <div class="col">
                    <mat-form-field class="full-width">
                      <mat-select placeholder="Claificacion" formControlName="rating"
                        (selectionChange)="ratingChange()">
                        <mat-option *ngFor="let rating of ratings" [value]="rating">
                          {{ rating.name }} | {{ rating.description }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="ratingForm.controls['rating'].hasError('required')">
                        La calificacion es requerida <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2">
                <div class="row">
                  <div class="col">
                    <mat-form-field appearance="outline" class="full-width">
                      <mat-label>Motivo de calificacion</mat-label>
                      <textarea matInput cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
                        placeholder="Describe en pocas palabras cual es el motivo de tu calificacion para este invocador"></textarea>
                      <mat-hint>Motivo de calificacion</mat-hint>
                    </mat-form-field>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                <button mat-flat-button color="primary">Calificar</button>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1">
                <button mat-flat-button color="warn">Agregar DodgeAlert</button>
              </mat-grid-tile>
            </form>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>